
<nav class="navbar bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/teezy-logo1.png" alt="Bootstrap" width="30" height="24">
    </a>
  </div>
</nav>
  
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <ul class="link">
        <li routerLinkActive="active"><a routerLink="/products">Products</a></li>
        
      </ul>
    </div>
  </div>
</div>
  

  <div class="col-md-10">
    <router-outlet></router-outlet>
  


      

</div>

  

