body {
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 20px;
  background-color: black;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.product {
  flex: 0 0 300px; /* Flexible width of 300px, no grow or shrink */
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  text-align: center;
}

.product-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-title {
  margin: 0;
}

.product-desc {
  color: #777;
}

.product-availability {
  margin-top: 5px;
  color: green;
}

.product-price {
  margin-top: 5px;
}

.add-to-cart {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.footer {
  text-align: auto;
  padding: 10px;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
}


li{
  padding: 10px;
  text-decoration: none;
}

li:hover{
  background-color: aliceblue;
  border: 1px solid lightgray;
  -webkit-box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.45);
  box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.45);

}

li:hover .checked{
  margin-right: 5px;
}

.active{
  background-color: lightblue;
  border: 1px solid lightgray;
  -webkit-box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.45);
  box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.45);

}

